# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.DS_Store
Readme.md.20200508025627.bak
eb-django-express-signup-base-master/extra-files/environment.sh
eb-django-express-signup-base-master/eb-virt
simulation/__pycache__
eb-django-express-signup-base-master/form/__pycache__