{% extends "generic.html" %}
{% block contents %}
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <div id="signupSuccess" class="alert alert-success" style="display:none">
                <p id="signupSuccessText">Thanks for helping!<br/>
                    The simulation will be run accordingly...</p>
            </div>
            <div id="signupDuplicate" class="alert alert-success" style="display:none">
                <p id="signupDuplicateText">You have already initiated an simulation!<br/>
                    Please wait with patience.</p>
            </div>
            <div id="signupError" class="alert alert-info" style="display:none">
                <p id="signupErrorText">Well this is embarrassing.<br/>
                    We couldn't process your request.</p>
            </div>
            <div class="jumbotron" id="jumbohome">
                <h1>Covid-19 Simulation System</h1>
                <div class="row">
                    <div class="col-sm-9">
                        <p class="lead">The application is a simulation with scalability.</p>
                        <p>Initiate an ID, set your demanded population size and simulation mode</p>
                        <p><a class="btn btn-lg btn-success" data-toggle="modal" href="#signupModal">INSERT DATA</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="signupModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Provide a few details and we'll be in touch...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="signupForm" role="form">
                        <div class="form-group">
                            <label for="MessageGroupId">Message Group Id</label>
                            <input type="text" class="form-control" id="MessageGroupId" name="MessageGroupId" placeholder="Your message group id">
                        </div>
                        <div class="form-group">
                            <label for="email">Your email to receive the result</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Verified email address">
                        </div>
						<div class="form-group">
                            <label for="pop_size">Set population size (int)</label>
                            <input type="text" class="form-control" id="pop_size" name="pop_size" placeholder="e.g. 1000">
                        </div>
                        <div class="form-group">
                            <label for="incubation_stage_duration">Set incubation stage duration (quarantine period in hours)</label>
                            <input type="text" class="form-control" id="incubation_stage_duration" name="incubation_stage_duration" placeholder="e.g. 336 (for 7 days)">
                        </div>
                        <div class="form-group">
                            <label for="symptomatic_stage_duration">Set symptomatic stage duration (alarm delay in hours)</label>
                            <input type="text" class="form-control" id="symptomatic_stage_duration" name="symptomatic_stage_duration" placeholder="e.g. 48 (for 2 days)">
                        </div>
                        <div class="form-group">
                            <label for="min_recovery_duration">Set min recovery duration (in hours)</label>
                            <input type="text" class="form-control" id="min_recovery_duration" name="min_recovery_duration" placeholder="e.g. 200">
                        </div>
                        <div class="form-group">
                            <label for="max_recovery_duration">Set max recovery duration (in hours)</label>
                            <input type="text" class="form-control" id="max_recovery_duration" name="max_recovery_duration" placeholder="e.g. 500">
                        </div>
                        <div class="form-group">
                            <label for="mortality_prob">Set basic mortality probability (<1)</label>
                            <input type="text" class="form-control" id="mortality_prob" name="mortality_prob" placeholder="e.g. 0.05">
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="mean_number_of_transmission_events_per_hour">Set avaerage number of transmission events per hour (int)</label>-->
<!--                            <input type="text" class="form-control" id="mean_number_of_transmission_events_per_hour" name="mean_number_of_transmission_events_per_hour" placeholder="e.g. 5">-->
<!--                        </div>-->
                        <div class="form-group">
                            <label for="amt_has_app">Set app coverage (% of population have the app)</label>
                            <input type="text" class="form-control" id="amt_has_app" name="amt_has_app" placeholder="e.g. 0.9">
                        </div>
                        <div class="form-group">
                            <label for="efficiency">Set app efficiency (% of complying people)</label>
                            <input type="text" class="form-control" id="efficiency" name="efficiency" placeholder="e.g. 0.9">
                        </div>
                        <div class="form-group">
                            <label for="healthcare_capacity">Set healthcare capacity (int)</label>
                            <input type="text" class="form-control" id="healthcare_capacity" name="healthcare_capacity" placeholder="e.g. 300">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="signup" type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% csrf_token %}
    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $(document).ready(function () {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $("#signup").click(function () {
                $.post("{% url 'form:signup' %}", $("#signupForm").serialize(),
                    function (data) {
                        $("#signupSuccess").show();
                    }
                )
                    .error(function (xhr) {
                        switch (xhr.status) {
                            case 409:
                                $("#signupDuplicate").show();
                                break;
                            default:
                                $("#signupError").show();
                        }
                    })
                    .always(function () {
                        $("#signupModal").modal('hide');
                    });
            })
        })
    </script>
{% endblock %}